html
  head
    title Pics2Tex | Turn pictures into Latex
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/jquery-3.3.1.min.js')
    script(src='/javascripts/uploadbutton.js')
    script(src='/javascripts/submit.js')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    center
      h1 Pics 2 Tex
    //
    .container
      .row
        .col-md-3
          br
        .col-md-6
          p= latex
        .col-md-3
          br
